* {
  margin: 0;
}

.app {
  background-color: rgb(252, 17, 17);
  width: 100vw;
  height: 100vh;
}

.top-bar {
  background-color: rgb(235, 113, 14);
  height: 13vh;
  display: flex;
  flex-direction: row;
}

.not-top-bar {
  background-color: rgb(224, 131, 87);
  height: 87vh;
  display: flex;
  flex-direction: row;
}

.side-bar {
  background-color: rgb(222, 175, 20);
  width: 20vw;;
  height: inherit;
}

.centre-bar {
  background-color: rgba(245, 245, 12, 0.879);
  width: 80vw;
  height: inherit;
}